<div id="navbar">
	<ul>
		<li>
			<%= link_to_unless_current "Home", root_url %>
		</li>
		<li>
			<%= link_to_unless_current "Location", {controller: "info", action: "location"} %>
		</li>
		<li>
			<%= link_to_unless_current "Ceremony", {controller: "info", action: "ceremony"} %>
		</li>
		<li>
			<%= link_to_unless_current "Our relationship", {controller: "info", action: "our_relationship"} %>
		</li>
		<li>
			<%= link_to_unless_current "Registry", {controller: "info", action: "registry"} %>
		</li>
		<li>
			<%= link_to_unless_current "FAQ", {controller: "info", action: "faq"} %>
		</li>
	</ul>
</div>