<table><tbody>
    <tr>
        <th>Name:</th>
        <th>Email:</th>
        <th>Response</th>
        <th>Potluck?</th>
        <th>Needs Lodging?</th>
        <th>In wedding party?</th>
        <th>Family invited?</th>
        <th>Plus ones</th>
        <th>Distance</th>
        <th>Canoe?</th>
        <th></th>
        <th></th>
    </tr>
    <% for invitee in @invitees %>
    <tr>
        <td><%= invitee.name %></td>
        <td><%= invitee.email %></td>
        <td><%= invitee.response %></td>
        <td><%= invitee.potluck ? "Yes" : "No" %></td>
        <td><%= invitee.needslodging %></td>
        <td><%= invitee.wedding_party ? "Yes" : "No" %></td>
        <td><%= invitee.family_invited ? "Yes" : "No" %></td>
        <td><%= invitee.plusone %></td>
        <td><%= invitee.distance %></td>
        <td><%= invitee.canoe ? "Yes" : "No" %></td>
        <td><%= button_to "Delete", rsvp_path(invitee.id), method: :delete %></td>
        <td><%= link_to_unless(invitee.has_rsvpd, "Send RSVP Email", email_path(invitee.id))%></td>
    </tr>
    <% end %>
</tbody></table>

<%= form_for(@rsvp) do |f| %>
    <% if @rsvp.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>
            <ul>
                <% @model.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <br />
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :encrypted_email, "Email" %>
        <%= f.text_field :email %>
    </div>
    <div class="field">
        Is this person in the wedding party?<br />
        <%= f.radio_button :wedding_party, true %>
        <%= f.label :wedding_party, 'Yes', value: true %>
        <%= f.radio_button :wedding_party, false, checked: true %>
        <%= f.label :wedding_party, 'No', value: false %>
    </div>
    <div class="field">
        Is this person's family invited as an attached unit?<br />
        <%= f.radio_button :family_invited, true %>
        <%= f.label :family_invited, 'Yes', value: true %>
        <%= f.radio_button :family_invited, false, checked: true %>
        <%= f.label :family_invited, 'No', value: false %>
    </div>
    <%= f.hidden_field :has_rsvpd, value: false %>
    <%= f.hidden_field :response, value: :NA %>
    <div class = "action">
        <%= f.submit %>
    </div>
<% end %>